body {
    font-family: 'Arial', sans-serif;
    background-color: beige;
}

h1 {
    font-size: 4.1rem;
    text-align: center;
    color: #0a989f;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.3rem;
}

.nota {
    color: #d87a06;
    font-size: 1rem;
}

.form-txt {
    font-size: 1.2rem;
}

.btn {
    background-color: #0a989f;
}

.txt-btn-metodo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
}

.btn.txt-btn-metodo:hover {
    transition: color 0.1s ease;
    transition: background-color 0.1s ease;
    color: rgb(216, 235, 235);
    background-color: #098389;
}

footer .container p {
    color: #cecece;
    font-size: 1.2rem;
}